@import '../../style/variables.scss';

.users-list {
  min-width: 100vh;
  &__list {
    padding: 19px 62px 25px 34px;
    width: 100%;
    background-color: white;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__shortCard {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__total {
    text-align: end;
    padding-top: 10px;
  }
}