@import '../../style/variables.scss';

.users-list {
  &__list {
    width: 100%;
    padding: 19px 62px 25px 34px;
    background-color: white;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__shortCard {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__total {
    padding-top: 10px;
    text-align: end;
  }
}
