@import '../../style/variables.scss';

.short-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 8px;

  &__item {
    margin-bottom: 7px;

    &:last-child {
      margin: 0;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
