@import './variables.scss';
// @import './fonts.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

p, h1 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #F0F0F0;
}
