$textColor: #000;
$textColorTitles: #a3a3a3;
$textColorButtons: #fff;
$textColorLink: #4b51ef;
$textColorPlaceholder: rgba($textColor, 0.3);

$sidebarColor: #bdbdbd;
$userCardColor: #f3f3f3;
$buttonsColor: #4b51ef;
$buttonsDisabledColor: #afafaf;
$buttonsActiveColor: #52cf4f;
$inputBorderColor: #d8d8d8;
$inputBorderNotValidColor: #d91313;
