@import '../../style/variables.scss';

.all-users-page {
  display: flex;
  justify-content: center;
  max-width: 665px;
  margin: 0 auto;

  &__sidebar {
    min-width: 24%;
    min-height: 100vh;
    background-color: $sidebarColor;
  }

  &__users {
    width: 100%;
  }
}
