@import '../../style/variables.scss';

.reference-button {
  display: block;
  padding: 5px 15px;
  color: $textColorButtons;
  font-size: 12px;
  text-decoration: none;
  background-color: $buttonsColor;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.4s ease;
  }

  &:disabled {
    background-color: $buttonsDisabledColor;
  }
}
